# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_database
DB_USER=your_username_here
DB_PASSWORD=your_password_here
SECRET_KEY=your_secret_key
DJANGO_ENV=current_environment_DEV_or_PROD

#Email Configuration
EMAIL_HOST_PASSWORD=mail-app-password
EMAIL_HOST_USER=google-mail-id
EMAIL_HOST=host
EMAIL_PORT=587
EMAIL_USE_TLS=True/False

SECURE=set-to-true-for-prod
FRONTEND_BASE_URL=base-url
PAGE_SIZE=default-page-size
FIELD_ENCRYPTION_KEY=your-encryption-key-for-jira-access-

#Celery Configuration
CELERY_BROKER_URL=message-broker-url-for-tasks
CELERY_ACCEPT_CONTENT=accepted-content-type
CELERY_TASK_SERIALIZER=serializer-for-task
CELERY_RESULT_BACKEND=message-broker-url-for-results

CELERY_TASK_ACKS_LATE=set-to-true-to-avoid-fire-and-forget
CELERY_WORKER_PREFETCH_MULTIPLIER=no-of-tasks-a-worker-can-take-at-a-time

